<ion-view view-title="mypacco">
    <ion-content class="has-header padding">

        <div class="button-bar margin-bottom">
            <button class="button button-calm checked">Domestic</button>
            <button class="button button-calm">International</button>
        </div>

        <div class="row from-to shadow-bottom margin-bottom">
            <div class="col">
                <h3>From</h3>
                <p>400022</p>
                <div class="icon-holder"><i class="icon ion-arrow-right-c"></i>
                </div>
            </div>
            <div class="col">
                <h3>To</h3>
                <p>400032</p>
            </div>
        </div>


        <label class="item item-input shadow-bottom border-round margin-bottom">
            <i class="icon ion-calendar placeholder-icon"></i>
            <input type="date" placeholder="Select Date">
        </label>

        <a class="button button-balanced button-outline button-block icon-right ion-chevron-right" href="#/app/home/details">Parcel Details</a>


    </ion-content>
</ion-view>
