<ion-view>
    <ion-nav-title>
        <img src="img/logo.png" alt="logo" class="header-img">
    </ion-nav-title>

    <ion-content class="has-header padding">

        <div class="button-bar margin-bottom">
            <button class="button button-calm" ng-click="domestic = true;" ng-class="{checked : domestic}">Domestic</button>
            <button class="button button-calm" ng-click="domestic = false;" ng-class="{checked : !domestic}">International</button>
        </div>

        <div class="row from-to shadow-bottom margin-bottom">
            <div class="col" ng-click="openFrom();">
                <h3>From</h3>
                <p>Select pincode</p>
                <div class="icon-holder"><i class="icon ion-arrow-right-c"></i>
                </div>
            </div>
            <div class="col" ng-click="openTo();" ng-if="domestic">
                <h3>To</h3>
                <p>Select pincode</p>
            </div>
            <div class="col" ng-if="!domestic" ng-click="country();">
                <h3>To</h3>
                <div class="white-select">
                    <select id="country">
                       <option value="">Select country</option>
                        <option value="{{allcountry.CountryId}}" ng-repeat="allcountry in allcountries">{{allcountry.Country}}</option>
                    </select>
                </div>
            </div>
        </div>

        <label class="item item-input shadow-bottom border-round margin-bottom">
            <i class="icon ion-calendar placeholder-icon"></i>
            <input type="date" placeholder="Select Date" ng-model="today">
        </label>


        <a class="button button-balanced button-outline button-block icon-right ion-chevron-right" href="#/app/home/details">Parcel Details</a>


    </ion-content>
</ion-view>
