<ion-view>
    <ion-header-bar class="bar-assertive">
        <img src="img/logo.png" alt="logo" class="header-img">
    </ion-header-bar>
    <ion-content class="has-header padding">

        <form ng-submit="">
            <div class="list border-round shadow-bottom">
                <div class="text-center">
                    <h4>Sign In</h4>
                </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password">
                </label>
            </div>

            <button class="button button-balanced button-block" type="submit">Sign In</button>

            <div class="text-center">-or-</div>

            <a class="button button-calm button-block" href="#/register">Register</a>
        </form>
    </ion-content>
</ion-view>
