<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Terms &amp; Conditions</h1>
        <div class="buttons">
            <button class="button button-icon ion-ios7-close-empty" ng-click="closeTerms();"></button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">

<div class="item-divider">Mypacco terms of use</div>
<p class="padding">By clicking on the "I Agree" tab,You agree to the following terms and conditions for using our services as a marketplace  to obtain services of the designated and empanelled Courier / Cargo 	Agencies listed on this site: 
<br><br>
You are requested to carefully read and understand the terms below. Your access and use of the website "mypacco.com" (including applications provided) as a platform of Courier Service Providers shall be governed by these terms. In the event,You do not agree with the terms then kindly do not visit or use this website. 
</p>
<br>

<div class="item-divider">Terms</div>
<p class="padding">
Our website "mypacco.com" is a third-party marketplace to enable You to place order for courier / cargo services with empaneled Courier Service Providers and we only provide order placement services and offer a choice to You to choose a Courier Service Provider based on your service expectations and willingness to pay the charges specified. We do not provide any courier services. These are provided by the Service Providers empanelled and the Terms and Conditions of such service providers is to be read and accepted when you select the Service Provideras the Terms and Conditions  are different for each Service Provider.
<br>
<br>
Mypaccodoes not endorse, verify or guarantee the service quality levels of any of the Courier service provider and it shall not be responsible for any misrepresentations or deficiency in service on the part of the Courier Service Provider.   
</p>
<br>

<div class="item-divider">Registration</div>
<p class="padding">
Registration with "mypacco.com" is free of any charges.<br>  
You are solely responsible to maintain confidentiality of your account password and for all transactions carried out through your account. 
<br>You shall keep your user account details true and updated and shall immediately inform us about breach of security or un-authorized use of your account.
</p>
<br>

<div class="item-divider">Applicability of terms of courier service provider</div>
<p class="padding">
 Your transaction shall be subject to and governed by the terms and conditions of the Courier Service Provider selected by You. The terms and conditions shall be duly notified to You and shall become applicable only after Your provide Your specific consent to the said terms. 
<br>
 The same need to be accepted by clicking on the "I ACCEPT" button provided prior to effecting the payment on line on our site.    
</p>
<br>

<div class="item-divider">Payment</div>
<p class="padding">
You will have option to make payment of all booking charges by credit/debit card, netbanking (payment gateway) and/or direct payment to Mypacco. Booking of the consignment shall be subject to payment of all charges as may be applicable unless otherwise agreed. On making of payment through our payment gateways, payment detail slip will be provided by us to document booking with the selected Service Provider. However, we shall not be considered as the seller, dealer or provider of any Courier Service.    
</p>
<br>

<div class="item-divider">Conditions of booking</div>
<p class="padding">
a)	It shall be Your obligation to ensure that description of the consignment/goods and other details including value, weight, size, as provided by You during booking transaction corresponds and matches the content of the consignment/goods handed over at pick-up and it does not contravene the provisions of the Indian Postal Act or any other applicable law. The package / document will be accepted on a" SAID TO CONTAIN BASIS " and the responsibily for discrepancy in the actual contents if found will be solely yours 
<br><br>
b)	For parcels You shall be liable to pay consignment shipment charges as per Volumetric weight or dead weight of the consignment, whichever is higher (kindly refer to FAQ).      
<br><br>

c)	It shall be Your obligation to ensure that the consignment/goods do not contain any materials which is prohibited or considered contraband by law.<br><br>
d)	It shall be Your obligation to ensure that the consignment/goods do not contain narcotic drugs, firearms, explosives, hazardous chemicals, liquids, gold, currency, gems, jewellery, share certificates, pornographic material, human remains and any other contraband material banned or prohibited by any law. You will be solely responsible if any such item is booked by You. 
<br><br>
e)	It shall be Your obligation to ensure that the consignment/goods do not contain any material which is classified as Hazardous Goods or Dangerous Goods or Prohibited Goods or Restricted Goods by any of the Government authority including by IATA, ICAO, etc. For a list of prohibited and banned items list. <br><br>     
f)	It shall be Your obligation not to send any bearer negotiable instruments including drafts and cheques through Courier. <br><br>

g)	You shall be liable to pay the Courier Charges and all charges agreed to by You in respect of the transaction and the courier including the Courier Charges, Octroi, Customs, Insurance and all other taxes/charges which may be levied by any government authority in respect of the consignment. Octroi is normally paid by the consignee , however if the same is declined by the consignee , it will be your responsibility to pay for the same as well as the return freight charges for the parcel.
Service Tax and other taxes as applicable shall be paid by You at the time of the booking.
<br><br>
h)	For booking parcels/Non-Document consignments, You shall be required to provide all necessary documents like invoice, KYC, Sales Tax declarations/ related forms  lab reports, etc. as may be sought by Mypacco or by Courier Service Provider. ( list provided on our site)<br><br>
i)	It shall be Your responsibility to provide appropriate packaging to the Consignment. <br>
Kindly refer to General Packaging Guidelines (please add here link / pop up to the packing dos / donts / tips).  In case the contents of the package are Fragile the same must be specified at the time of booking.
</p>
<br>

<div class="item-divider">Cancellation and refund</div>
<p class="padding">
You may cancel transaction within 12  hours from booking time.<br>
In any event, such cancellation must be done prior to pick-up. No refunds shall be made if the consignment is already picked-up and trans-shipment is underway.<br> 
In the event of any cancellation within 12 hours from booking time, You will be entitled to refund of the entire booking charges after deduction of Mypacco cancellation charges (mentioned below) and any deduction by Courier company and any government taxes that may have been applicable.<br>
We will accept notice of cancellation via email, mobile phone "text message" and/or fax, or any other means subject to confirmation in writing duly signed by the person who has booked the shipment and paid for the same.
<br>
<br>
Mypacco reserves the right to levy Rs. 50 as cancellation fee towards administrative expenses.    
<br><br>

Mypacco right to cancel booking - For the reasons beyond its control and if We are of the view that the Courier Services cannot be provided to You, then We are entitled to cancel the  booking at any stage. In the event the payment is already possessed, in event of cancellation by Mypacco, the amount shall be refunded through the same mode and to same bank account/Card account as of the payment. 
<br><br>
In case at the time of the pick up the Courier Service Provider finds that the shipment is not complying with their requirements in terms of packaging or the destination point is not serviced or the contents are prohibited on their list, they will be perfectly entitled to refuse the pick-up.<br>
</p>
<br>

<div class="item-divider">Service availability</div>
<p class="padding">
You may note that the services featured on website "mypacco.com" are only available within India or in relation to postings from India. The contents and the advertising, if any, isintended solely for the Indian market. You shall remain fully and solely responsible for evaluating the fitness for a particular purpose of any downloads, programs and text available through this site. You shall not re-distribute or re-publish any part of this site or its content without the express written consent of the Company. Mypacco does not warrant that the services from this site will be uninterrupted, timely or error free though all attempts and measures are taken that it is provided to the best of ability. 
</p>
<br>

<div class="item-divider">Privacy and confidentiality</div>
<p class="padding">
Mypacco is committed to protect your privacy and all information collected from the individual customers is used by the authorized employees of the Mypacco on need to know basis. Since the law provides for specific offences for unauthorized actions against computer systems, the same are immediately investigated by us with an objective to take appropriate criminal/civil proceedings against the delinquents. 
<br>
<br> 
Any information concerning You and the data provided by You including the client records may be passed to third parties. Client records are confidential and therefore will not be divulged to any third party, other than manufacturers/suppliers/Vendors and when legally required to do so to the Statutory authorities. You may request for copies of Client Records kept by Mypacco by giving reasonable notice.
Mypacco will not sell, share, or rent your personal information to any third party except for the purpose of transaction. 
</p> 
<br> 

<div class="item-divider">Disclaimer</div>
<p class="padding">
All the information on "mypacco.com" is provided on an "as is" basis to the fullest extent as permitted by law.  
</p>
<br>

<div class="item-divider">Exclusion of warranties</div>
<p class="padding">
Mypacco excludes all representations and warranties relating to this website and its contents. There is no warranty in respect of contents which is or may be provided by any affiliates or any other third party including in relation to any inaccuracies or omissions in the website "mypacco.com". 
<br>
<br>  
This does not affect any of your rights against the Courier Service Providers to provide services as per the agreed Terms of Carriage (Courier Terms and Conditions).   
</p>
<br>

<div class="item-divider">Limitation of liability</div>
<p class="padding">
Mypacco shall not be liable for any claim and/or damages arising out of or in connection with your use of website "mypacco.com" including, without limitation, for direct loss, loss of business or profit (irrespective of such loss of profit foreseeable or not, whether it arose in the normal course of things or not and whether You have advised Mypacco of the possibility of potential loss or not. Mypacco shall not be liable for damage caused to your computer, computer software, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages. The above exclusions and limitations shall be only to the extent permitted by law.
</p>
<br>

<div class="item-divider">Liability for deficiency in service by courier</div>
<p class="padding">
Mypacco is only a marketplace website and shall not be responsible for deficiency in services by Courier Service Provider consequent to booking through "mypacco.com", including for non-pick up, delay in pick-up, delayed delivery, damage, loss of the consignment or for any loss (direct or consequential) suffered by You by reason of deficiency in service by the Courier in respect of the consignment booked by You.<br>
The Service Provider may have a limited liability in their T&amp;C listed which will overn all transactions booked with the concerned service provider.
None of your statutory rights as a consumer as against Courier Service Providers are affected. 
</p>
<br>
 
<div class="item-divider">Log files</div>
<p class="padding">
We reserve right to use IP addresses to analyze trends, track user movement, administer site and gather broad demographic information. IP addresses are not linked to personally identifiable information. For systems administration and troubleshooting, etc. our web servers may automatically log standard access information which may include access times/open mail, URL requested, and referral URL. This information is not shared with third parties and is used internally on need to know basis. 
</p>
<br> 

<div class="item-divider">Links to this website</div>
<p class="padding">
You shall not create a link to any page of this website without our prior written consent.  
</p>
<br>

<div class="item-divider">Links from this website</div>
<p class="padding">
We do not monitor or review the content of Other Party's websites which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site &amp; to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them. Mypaccowill not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.   
</p>
<br> 

<div class="item-divider">Copyright notice</div>
<p class="padding">
Mypacco has copyright and other relevant intellectual property rights on the full content of this website. Any re-production and or re-publication of the mypacco logo, trade-name and/or content of this website is strictly prohibited except with our written consent. 
</p>
<br>
 
<div class="item-divider">Applicable law</div>
<p class="padding">
All the transactions on the website and all disputes and claims arising out of Your use of the website "mypacco.com" including interpretation of these terms shall be governed by Indian law. The laws of India shall govern these terms and conditions.
</p>
<br> 

<div class="item-divider">Jurisdiction</div>
<p class="padding">
All disputes between You and the Mypacco arising out of Your use of this website or otherwise and more particularly arising out of or consequent to transactions shall be subject to Courts in India only and only the courts in Mumbai shall have exclusive jurisdiction to entertain and decide any such dispute.  
</p>
<br> 

<div class="item-divider">Arbitration</div>
<p class="padding">
Any dispute or difference arising between Mypacco and You as to the meaning or interpretation of a term of this agreement or as to any claim by one party against the other arising from use of this site or from any transaction this agreement shall be referred for arbitration of two arbitrators with both parties appointing one arbitrator each and the arbitrators appointing a third arbitrator as Umpire. The Arbitration proceedings shall be governed by the provisions of the Arbitration and Conciliation Act, 1996. The Arbitration proceedings shall be conducted at Mumbai. The language of Arbitration shall be English. 
</p>
<br> 

<div class="item-divider">Force majeure</div>
<p class="padding">
Neither party shall be liable for any failure to perform any obligation under due to an event beyond the control of such Party including but not limited to any Act of God, riot, civil unrest, earthquake, flood, terrorism, war, act of civil or military authority, or any other natural or man-made eventuality outside control of parties which could not have been reasonably foreseen.   
</p>
<br> 

 
<div class="item-divider">Modification of terms</div>
<p class="padding">
Mypacco may at its discretion amend, vary, modify and supplement these Terms from time to time without prior notification to You and You shall be required to note the same. Your continued use of the site will signify your acceptance of any modification to these terms. You are advised to re-read these Terms on a regular basis. <br>
<br>
Your accessing of this website and/or undertaking of a booking or Agreement shall indicate your understanding, agreement to and acceptance of the full Terms contained herein. 
</p>
    </ion-content>
</ion-modal-view>