<ion-view view-title="Parcel Summary">
    <ion-content class="has-header">

        <ion-list>
            <div class="item-divider">Courier Service</div>
            <ion-item>The Professional Courier</ion-item>
            <div class="item-divider">Booked on</div>
            <ion-item>07.03.2015, 04:23 PM</ion-item>
            <div class="item-divider">Pickup Date</div>
            <ion-item>2015-03-08 Courier</ion-item>
            <div class="item-divider">Courier Cost</div>
            <ion-item>Courier Price
                <span class="item-note dark">28</span>
            </ion-item>
            <ion-item class="bold">Total (Inclusive of all Tax)
                <span class="item-note dark">28</span>
            </ion-item>
            
            <div class="item-divider">Delivery Details</div>
            <div class="row item">
                <div class="col">
                    <span class="bold">Sender (Pickup From)</span> 
                    <br>Demo
                    <br>1234567890
                    <br>demo@demo.com
                    <br>qwerty
                    <br>
                    <br>Mumbai 400001
                    <br>Maharashtra
                    <br>India

                </div>
                <div class="col"><span class="bold">Receiver (Deliver To)</span> 
                    <br>Demo
                    <br>1234567890
                    <br>qwerty
                    <br>
                    <br>Mumbai 400074
                    <br>Maharashtra
                    <br>India

                </div>
            </div>

            <div class="item-divider">Parcel Details</div>
            <ion-item>Parcel type: Document</ion-item>
            <div class="item-divider">Document 1</div>
            <ion-item>Weight<span class="item-note dark">250 Gm</span>
            </ion-item>
            
            <div class="item-divider">Terms &amp; Conditions</div>
            <ion-item class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                I Agree
            </ion-item>
            <div class="text-center" ng-click="openTerms();">Know more</div>

        </ion-list>

        <div class="padding-horizontal">
            <a class="button button-balanced button-outline button-block icon-right ion-chevron-right" href="#/app/home/details/quotes/book/summary">Proceed to Pay</a>
        </div>

    </ion-content>
</ion-view>
