<ion-view view-title="Quotes">

        <ion-nav-buttons side="right">
            <button class="button button-calm button-outline">Book Now</button>
        </ion-nav-buttons>

    <ion-content class="has-header padding">

        <div class="button-bar">
            <button class="button button-calm checked button-small">Today</button>
            <button class="button button-calm button-small">Next Day</button>
            <button class="button button-calm button-small">3-5+ Days</button>
        </div>

        <div class="list border-round shadow-bottom">
            <div class="text-center">
                <h4>Comparative Quotes</h4><p class="small">Select anyone from bellow and press book now.</p>
            </div>


            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-thumbnail-left item-content item-text-wrap">
                    <img src="img/pc.jpg">
                    <h2>Professional Courier (INR 300)</h2>
                    <p>Book by 04:00 PM for pickup today.</p>
                    <p class="rating"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
                    </p>
                    <span class="assertive small">CASH ON PICKUP</span>
                    <button href="" class="button button-clear button-small button-assertive"><i class="icon ion-information-circled"></i>
                    </button>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="item-thumbnail-left item-content item-text-wrap">
                    <img src="img/pc.jpg">
                    <h2>Professional Courier (INR 300)</h2>
                    <p>Book by 04:00 PM for pickup today.</p>
                    <p class="rating"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
                    </p>
                    <span class="assertive small">CASH ON PICKUP</span>
                    <button href="" class="button button-clear button-small button-assertive"><i class="icon ion-information-circled"></i>
                    </button>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>


        </div>

        <a class="button button-energized button-block" href="#/app/home/details/quotes/book">Book Now</a>


    </ion-content>
</ion-view>
