<ion-view view-title="Quotes">
    <ion-content class="has-header padding">

        <div class="list border-round shadow-bottom">
            <div class="text-center">
                <h4>Comparative Quotes</h4>
                <p class="small">We found {{quotes.length}} Services from Rs.19 onwards.
                    <br>Select anyone from below and press book now.</p>
            </div>

            <label class="item item-radio" ng-repeat="quote in quotes" ng-click="radiockick(quote)">
                <input type="radio" name="group">
                <div class="item-thumbnail-left item-content item-text-wrap">
                    <img src="{{quote.LogoImage | imagepath}}">
<!--                    <h2>Professional Courier (INR 19)</h2>-->
                    <h2>{{quote.VendorService}}</h2>
                    <p>{{quote.ExtraInfo}}</p>
                    <p class="rating"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i>
                    </p>
                    <span class="assertive small">CASH ON PICKUP</span>
                    <button href="" class="button button-clear button-small button-assertive"><i class="icon ion-information-circled"></i>
                    </button>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

        </div>
    </ion-content>

    <div class="bar bar-footer bar-calm" ng-click="openRestriction();">
        <h1 class="title">Book Now</h1>
    </div>
</ion-view>
