<ion-view view-title="Quotes">
    <ion-content class="has-header padding">

        <div class="list border-round shadow-bottom">
            <div class="text-center">
                <h4>Comparative Quotes</h4>
                <p class="small">We found {{quotes.length}} Services from {{quotes[0].CurrencySymbol}} {{quotes[0].TotalAmount}} onwards.
                    <br>Select anyone from below and press book now.</p>
            </div>

            <div ng-repeat="quote in quotes" class="info-holder">
                <label class="item item-radio" ng-click="radiockick(quote);">
                    <input type="radio" name="group">
                    <div class="item-thumbnail-left item-content item-text-wrap">
                        <img src="{{quote.LogoImage | imagepath}}">
                        <h2>{{quote.VendorName}} ( {{quote.CurrencySymbol}} {{quote.TotalAmount}} )</h2>
                        <p>{{quote.VendorService}} <br>{{quote.ExtraInfo}}</p>
                        <rating ng-model="quote.Rating" max="5"></rating>
                        <span class="assertive small" ng-if="quote.CopAllowed==1">CASH ON PICKUP</span>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <button ng-click="showInfo()" class="button button-clear button-small button-assertive info-btn"><i class="icon ion-information-circled"></i></button>
            </div>

        </div>
    </ion-content>

    <div class="bar bar-footer bar-calm" ng-click="openRestriction();">
        <h1 class="title">Book Now</h1>
    </div>
</ion-view>
