<ion-view view-title="Track">
    <ion-content class="has-header padding">
        <div class="list border-round shadow-bottom">
            <div class="text-center">
                <p>MYPACCO Transaction ID or Courier Tracking Number</p>
            </div>
            <label class="item item-input">
                <input type="text" required placeholder="AWB No./Transaction Id*" ng-model="transid">
            </label>
        </div>

        <button class="button button-calm button-block" type="submit" ng-click="tracknow(transid)">Track Now</button>
        
        <div class="list border-round shadow-bottom" ng-if="tracked">
               <div class="text-center">
                <p>Information</p>
            </div>
               
                <label class="item item-input">
                    <span class="input-label">Transaction Number :</span>{{track.orderdetail.TransactionNum}}
                </label>
                <label class="item item-input">
                    <span class="input-label">AWB Number :</span>{{track.orderdetail.Awp}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Order Status :</span>{{track.orderstatus[0].StatusName}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Date :</span>{{track.orderdetail.PickupDate}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Comment :</span>{{track.orderstatus[0].Comment}}
                </label>
            </div>
        
        
        <div class="list border-round" ng-if="nottrack">
            <div class="text-center">
                <p>Sorry, No records found. Please try another number.</p>
            </div>
        </div>
        
    </ion-content>
</ion-view>